<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,0,0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,0,0">
    <title>Upload</title>
</head>
<body>
    <section id="upload">
        <form action="/admin/objava" method="POST" enctype='multipart/form-data'>
            <label for="link">Link objave (bilo koji link koji vodi do tvoje kreacije, ako nemas bas nikakav link mozes staviti i "#")</label>
            <input type="text" name="link" id="link" placeholder="link ovde" />
    
            <label for="slika"><Table>Thumbnail slika (ili slika objave, kantas)</Table></label>
            <input type="file" name="slika" id="slika" />
    
            <br />
            <button type="submit">Постави</button>
          </form>
    </section>
</body>
</html>